<div class="flex flex-col items-center gap-10">
  <!--- sidebar logo -->
  <div class="mt-4">
    <img src="../../../../assets/logo.svg" alt="" srcset="">
  </div>

  <div class="flex flex-col gap-8 w-full ">
    <div class="flex flex-col gap-2 items-center w-full cursor-pointer">
       <img class="w-7 h-7" src="../../../../assets/svg/sport.svg" alt="" >
       <span class="uppercase text-slate-400	text-xs	">sport</span>
    </div>

    <div class="flex flex-col gap-2 items-center w-full cursor-pointer">
      <img class="w-7 h-7" src="../../../../assets/svg/live.svg" alt="">
      <span class="uppercase text-slate-400	text-xs	">live</span>
   </div>

   <div class="flex flex-col gap-2  border-l-2 border-s-emerald-600 items-center w-full rounded-l-sm cursor-pointer">
     <img class="w-7 h-7" src="../../../../assets/svg/slot.svg" alt="">
     <span class="uppercase text-white	text-xs">slots</span>
   </div>

   <div class="flex flex-col gap-2 items-center w-full mx-auto cursor-pointer">
    <img class="w-7 h-7" src="../../../../assets/svg/casino.svg" alt="">
   <span class="uppercase text-slate-400	text-xs">casino</span>
  </div>
</div>
